<template>
    <div class="post-chart">
        <chart-viewer :chart="post.content"></chart-viewer>
    </div>
</template>

<script>
import ChartViewer from '@app/components/ChartViewer'

export default {
    name: 'chart-post',
    props: ['post'],
    components: {
        'chart-viewer': ChartViewer
    }
}
</script>

<style>

</style>


