<template>
    <div class="image-post">
        <img :src="post.content.url" :alt="post.content.description">
    </div>
</template>

<script>
export default {
    name: 'image-post',
    props: ['post']
}
</script>

<style>

</style>
