<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>ckeditor/contents.css">
    <title>پنل صعود چهل‌ساله</title>
  </head>
  <body>
    <noscript>
      <strong>متأسفانه این صفحه بدون جاوااسکریپت به درستی کار نخواهد کرد، لطفا جاوااسکریپت را فعال کرده و دوباره این صفحه را باز کنید.</strong>
    </noscript>
    <div id="app"></div>
    <script src="<%= BASE_URL %>ckeditor/ckeditor.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
