<template>
    <div class="appendix" :class="{'appendix--closed': !checkOpen('appendix')}">
        <v-btn v-if="!checkOpen('appendix')" @click="open('appendix')" icon class="appendix__switch-edit">
            <v-icon>mdi-chevron-left-box-outline</v-icon>
        </v-btn>
        <div v-if="checkOpen('appendix')" class="appendix__single-line">
            <h2>فهرست</h2>
            <v-spacer></v-spacer>
            <v-btn :loading="isSaving" icon class="appendix__switch-edit" @click="toggleEditMode()">
                <v-icon v-if="editMode">mdi-content-save</v-icon>
                <v-icon v-else>mdi-pencil</v-icon>
            </v-btn>
            <v-btn icon class="appendix__switch-edit" @click="close('appendix')">
                <v-icon>mdi-chevron-right-box-outline</v-icon>
            </v-btn>
        </div>
        <ol v-if="checkOpen('appendix')">
            <transition-group name="list">
                <li v-for="(catalogItem, index) in catalog" :key="catalogItem.id">
                    <!-- <input v-if="editMode" type="text" v-model="catalogItem.title"> -->
                    <div class="appendix__single-line">
                        <v-btn style="opacity: 1" small icon @click="toggle(catalogItem.id)">
                            <v-icon v-if="checkOpen(catalogItem.id)">mdi-chevron-down</v-icon>
                            <v-icon v-else>mdi-chevron-left</v-icon>
                        </v-btn>
                        <span class="appendix__title title">{{catalogItem.title || '[بینام]'}}</span>
                        <v-btn small icon v-if="editMode" @click="remove(catalog, index)"><v-icon>mdi-delete</v-icon></v-btn>
                        <div v-if="editMode" class="move-buttons">
                            <v-btn small icon :disabled="index == 0" @click="moveTop(catalog, index)"><v-icon>mdi-chevron-up</v-icon></v-btn>
                            <v-btn small icon :disabled="index == catalog.length-1" @click="moveBottom(catalog, index)"><v-icon>mdi-chevron-down</v-icon></v-btn>
                        </div>
                    </div>
                    <ol v-if="checkOpen(catalogItem.id)">
                        <transition-group name="list">
                            <li v-for="(subCatalogItem, index) in catalogItem.children" :key="subCatalogItem.id">
                                <div class="appendix__single-line">
                                    <v-btn style="opacity: 1" small icon @click="toggle(subCatalogItem.id)">
                                        <v-icon v-if="checkOpen(subCatalogItem.id)">mdi-chevron-down</v-icon>
                                        <v-icon v-else>mdi-chevron-left</v-icon>
                                    </v-btn>
                                    <span class="appendix__title subheading">{{subCatalogItem.title || '[بینام]'}}</span>
                                    <v-btn small v-if="editMode" icon @click="remove(catalogItem.children, index)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                    <div v-if="editMode" class="move-buttons">
                                        <v-btn small icon :disabled="index == 0" @click="moveTop(catalogItem.children, index)"><v-icon>mdi-chevron-up</v-icon></v-btn>
                                        <v-btn small icon :disabled="index == catalogItem.children.length-1" @click="moveBottom(catalogItem.children, index)"><v-icon>mdi-chevron-down</v-icon></v-btn>
                                    </div>
                                </div>
                                <ol v-if="checkOpen(subCatalogItem.id)">
                                    <transition-group name="list">
                                        <li v-for="(post, index) in subCatalogItem.children" :key="post.id">
                                            <div class="appendix__single-line">
                                                <span class="appendix__title subheading" @click="selectItem(post)">
                                                    {{post.title || '[بینام]'}}
                                                </span>
                                                <v-btn v-if="editMode" icon @click="remove(subCatalogItem.children, index)">
                                                    <v-icon>mdi-delete</v-icon>
                                                </v-btn>
                                                <div v-if="editMode" class="move-buttons">
                                                    <v-btn icon :disabled="index == 0" @click="moveTop(subCatalogItem.children, index)"><v-icon>mdi-chevron-up</v-icon></v-btn>
                                                    <v-btn icon :disabled="index == subCatalogItem.children.length-1" @click="moveBottom(subCatalogItem.children, index)"><v-icon>mdi-chevron-down</v-icon></v-btn>
                                                </div>
                                            </div>
                                        </li>
                                    </transition-group>
                                    <li style="list-style: none">
                                        <v-btn v-if="editMode" @click="addPost(subCatalogItem)">افزودن پست به {{subCatalogItem.title || '[بینام]'}}</v-btn>
                                    </li>
                                </ol>
                            </li>
                        </transition-group>
                        <li style="list-style: none">
                            <v-btn v-if="editMode" @click="addSubCatalogItem(catalogItem)">افزودن سرفصل به {{catalogItem.title || '[بینام]'}}</v-btn>
                        </li>
                    </ol>
                </li>
            </transition-group>
            <li style="list-style: none">
                <v-btn v-if="editMode" @click="addCatalogItem()">افزودن سرفصل اصلی</v-btn>
            </li>
        </ol>
    </div>
</template>


<script>
import { mapState, mapMutations } from 'vuex';
import { createObjectId } from '../utils'
import { getAppendix, updateAppendix, getPost, addPost } from '@panel/database'

export default {
    name: 'appendix',
    data() {
        return {
            editMode: false,
            isSaving: false,
            catalog: [
                {
                    id: '5cf867a9444cbda7c3e29d47',
                    title: '',
                    children: [
                        {
                            title: 'مقدّمه',
                            id: '5cf867a9739b2f153172cf6b',
                            children: [
                                {title: '', id: 'ds'}
                            ]
                        }
                    ]
                },
                {
                    id: '5cf867a95649c489dfa3fc66',
                    title: 'فصل اوّل: استقلال',
                    children: [
                        {
                            title: 'از وابستگی دوران پهلوی تا استقلال ایران اسلامی',
                            id: '5cf867a901cc1f4b807bc9d6',
                            children: []
                        },
                        {
                            title: 'استقلال در کشورهای دنیا',
                            id: '5cf867a94f224eedf3898f08',
                            children: []
                        }
                    ]
                }
            ],
            openCatalogs: [
                'appendix'
            ]
        }
    },
    mounted() {
      getAppendix()
      .then(appendix => {
        if (appendix == null) {

        }
        else {
          this.catalog = appendix
        }
      })
    },
    methods: {
        ...mapMutations(['setBookPost']),
        checkOpen(catalogId) {
            return Boolean(~this.openCatalogs.indexOf(catalogId))
        },
        toggleEditMode() {
            if (this.isSaving) return
            if (this.editMode) {
                this.isSaving = true
                updateAppendix(this.catalog)
                .then(() => {
                    this.isSaving = false
                    this.editMode =  false
                })
            } else {
                this.editMode = true
            }
        },
        open(catalogId) {
            if (!this.checkOpen(catalogId)) {
                this.openCatalogs.push(catalogId)
            }
        },
        close(catalogId) {
            let index = this.openCatalogs.indexOf(catalogId)
            if (index >= 0) {
                this.openCatalogs.splice(index, 1)
            }
        },
        toggle(catalogId) {
            if (this.checkOpen(catalogId)) {
                this.close(catalogId)
            } else {
                this.open(catalogId)
            }
        },
        addCatalogItem() {
            this.catalog.push({
                title: '',
                id: createObjectId(),
                children: []
            })
        },
        addSubCatalogItem(catalogItem) {
            catalogItem.children.push({
                title: '',
                id: createObjectId(),
                children: []
            })
        },
        addPost(subCatalog) {
            if (!subCatalog.children) {
                subCatalog.children = []
            }
            subCatalog.children.push({
                title: '',
                id: createObjectId()
            })
        },
        async selectItem(item) {
            let post = await getPost(item.id)
            if (post == null) {
                post = await addPost({
                    title: item.title,
                    contents: [],
                    author: '',
                    template: '',
                })
                item.id = post._id
                updateAppendix(this.catalog)
            }
            this.$store.commit('setBookPost', post)
            this.setBookPost(post)
        },
        remove(list, index) {
            if (confirm('آیا از حذف این مورد مطمئن هستید؟')) {
                list.splice(index, 1)
            }
        },
        moveTop(list, index) {
            if (index <= 0) {
                return
            }
            let value = list[index]
            list.splice(index, 1, list[index-1])
            list.splice(index-1, 1, value)
        },
        moveBottom(list, index) {
            if (index >= list.length-1) {
                return
            }
            let value = list[index]
            list.splice(index, 1, list[index+1])
            list.splice(index+1, 1, value)
        }
    }
}
</script>

<style scoped>
    .appendix {
        position: relative
    }

    .appendix--closed {
        width: auto !important;
        flex: 0 0 auto;
    }

    .appendix__switch-edit {
        margin-right: auto;
        left: 0;
        top: 5px;
        opacity: 1 !important;
    }

    .appendix__title {
        flex-grow: 1;
    }

    li {
        margin: .5em;
        /* display: flex; */
    }

    .move-buttons {
        margin-right: .2em;
        display: inline-flex;
        /* flex-direction: column; */
        /* height: 20px; */
    }

    .list-move {
       transition: transform 1s;
    }

    .appendix__single-line {
        display: flex;
        align-items: center;
    }

    .appendix__single-line .v-btn {
        opacity: 0;
    }

    .appendix__single-line:hover .v-btn {
        opacity: 1;
    }
</style>