<template>
    <textarea ref="editor" dir="rtl" height="400"></textarea>
</template>

<script>
export default {
    name: 'ckeditor',
    props: ['value'],
    data: () => ({
        /** @type {CKEDITOR.editor} */
        editor: null
    }),
    mounted() {
        this.editor = CKEDITOR.replace(this.$refs['editor'], {
            language: 'fa',
        })

        // this.editor.addCommand('addDiagram', {
        //     exec(editor) {
        //         let diagramId = prompt('آیدی نمودار را وارد کنید')
        //         if (!diagramId) return
        //         editor.insertHtml('<b>[نمودار]' + diagramId + '[/نمودار]</b>&nbsp')
        //     }
        // })

        // this.editor.ui.addButton('نمودار', {
        //     label: 'افزودن نمودار',
        //     command: 'addDiagram',
        //     toolbar: 'insert',
        //     icon: 'https://image.flaticon.com/icons/svg/1170/1170667.svg',
        // })
    },
    beforeDestroy() {
        this.editor.destroy()
    },
    methods: {
        getData() {
            return this.editor.getData()
        }
    } 
}
</script>

<style>
</style>
