<template>
    <div class="post-editor">
        <component
            v-if="this.content.type"
            :is="component"
            :content="content">
        </component>
    </div>
</template>

<script>
import ContentText from './ContentType/ContentText'
import ContentChart from './ContentType/ContentChart'

export default {
    name: 'content',
    props: ['content'],
    components: {
        'content-text': ContentText,
        'content-chart': ContentChart,
    },
    data: () => ({
    }),
    computed: {
        component() {
            return 'content-' + this.content.type
        }
    },
    mounted() {
        this.$el.scrollIntoView()
    }
}
</script>

<style>

</style>
