<template>
    <div class="preview html">
      <img class="preview__image" src="../assets/iphone.png" alt="">
      <div class="preview__mobile-monitor">
        <div ref="container" class="preview__container" :style="{width: '375px', height: '667px'}">
          <book-page></book-page>
        </div>
      </div>
    </div>
</template>

<script>
import Book from '@app/views/Book'

export default {
    name: 'preview',
    components: {
        'book-page': Book
    },
    mounted() {
      // برای رندر صحیح نمودارها نباید از ابتدا اسکیل کرده باشیم
      setTimeout(() => {
        this.$refs['container'].style.transform = 'translate3d(50%, 50%, 0) scale(0.6134)'
      }, 0)
    }
}
</script>

<style>
  @import url('../../../app-rise/src/style.css');

  .preview {
    width: 264.05px;
    height: 537px;
    flex: 0 0 auto;
    position: relative;
    padding: 64px 17px;
  }

  @supports(position: sticky) {
    .preview {
      position: sticky;
      top: 69px;
    }
  }

  .preview__mobile-monitor {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  .preview__image {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .preview__container {
    position: absolute;
    
    right: 50%;
    bottom: 50%;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .preview .book {
    max-height: initial;
  }

</style>


