<template>
    <textarea ref="editor" dir="rtl" height="400"></textarea>
</template>

<script>
require('sceditor/minified/sceditor.min');
require('sceditor/minified/formats/xhtml');
require('sceditor/languages/fa')

export default {
    name: 'ckeditor',
    data: () => ({
        editor: null
    }),
    created() {
        sceditor.command.set('chart', {
            exec: function() {
                // this is set to the editor instance
                this.insert('a');
            },
            txtExec: function() {
                // this is set to the editor instance
                this.insert('a');
            },
            tooltip: 'درج نمودار'
        })
    },
    mounted() {
        this.editor = sceditor.create(this.$refs['editor'], {
            format: 'xhtml',
            locale: 'fa',
            icons: 'material',
            emoticonsEnabled: false,
            toolbar: 'bold,italic,underline,strike|right,center,left,justify|color|bulletlist,orderedlist|chart|table|code,quote|horizontalrule,image,email,link,unlink|rtl,ltr|maximize|source',
            rtl: true,
            resizeWidth: false,
            width: '100%',
            height: 400,
            fonts: 'IranSans',
            style: '../../node_modules/sceditor/minified/themes/content/default.min.css'
        })

    },
    beforeDestroy() {
        this.editor.destroy()
        this.editor = null
    },
    getEditorValue() {
        return this.editor.val()
    }
}
</script>

<style>
    @import url('~sceditor/minified/themes/default.min.css');
    /* @import url('../../node_modules/sceditor/minified/themes/default.min.css'); */

    .sceditor-container textarea {
        direction: ltr;
    }

    .sceditor-button.sceditor-button-chart div {
        background: none;
    }
    .sceditor-button-chart:before {
        content: '';
        font: 16px "Material Design Icons";
        color: green;
    }
</style>
