<template>
    <div class="chart-viewer">
        <div class="chart-viewer__text">
            {{chart.description}}
        </div>
        <div class="chart-viewer__chart">
            <chartist :data="chart.data" :options="options"></chartist>
        </div>
    </div>
</template>

<script>
import chartist from 'v-chartist'

export default {
    name: 'chart-viewer',
    props: [
        'chart'  // {data, options, description}
    ],
    components: {
        chartist
    },
    computed: {
        options() {
            return {
                fullWidth: true,
                chartPadding: {
                    right: 30
                },
                ...(this.chart.options || {})
            }
        }
    },
    data: function () {
        return {}
    }
}
</script>

<style>
    .chart-viewer__text {
        text-align: center;
        /* padding: 30px; */
        padding-bottom: 0;
        font-size: .9em;
    }

    .chart-viewer__chart {
        font-family: sans-serif;
        /* margin: 0 .5em; */
        overflow: hidden;
    }
</style>
