<template>
    <div class="post">
        <component :is="component" :post="post"></component>
    </div>
</template>

<script>
import TextPost from './PostType/TextPost'
import ChartPost from './PostType/ChartPost.vue'
import ImagePost from './PostType/ImagePost.vue'

export default {
    name: 'post',
    props: ['post'],
    components: {
        'text-post': TextPost,
        'chart-post': ChartPost,
        'image-post': ImagePost,
    },
    data() {
        return {
        }
    },
    computed: {
        component() {
            return this.post.type + '-post'
        }
    },
    mounted() {
        // this.$el.scrollIntoView()
    },
}
</script>

<style>

</style>
