
@font-face {
    font-family: 'IkonoMiniL2-2';
    src: url('ikono-mini-l2/IkonoMiniL2-2.eot?#iefix') format('embedded-opentype'),  url('ikono-mini-l2/IkonoMiniL2-2.otf')  format('opentype'),
           url('ikono-mini-l2/IkonoMiniL2-2.woff') format('woff'), url('ikono-mini-l2/IkonoMiniL2-2.ttf')  format('truetype'), url('ikono-mini-l2/IkonoMiniL2-2.svg#ikono-mini-l2/IkonoMiniL2-2') format('svg');
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-FD.eot');
  src: url('shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
       url('shabnam/Shabnam-FD.woff2') format('woff2'),
       url('shabnam/Shabnam-FD.woff') format('woff'),
       url('shabnam/Shabnam-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-Bold-FD.eot');
  src: url('shabnam/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('shabnam/Shabnam-Bold-FD.woff2') format('woff2'),
       url('shabnam/Shabnam-Bold-FD.woff') format('woff'),
       url('shabnam/Shabnam-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('shabnam/Shabnam-Light-FD.eot');
  src: url('shabnam/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('shabnam/Shabnam-Light-FD.woff2') format('woff2'),
       url('shabnam/Shabnam-Light-FD.woff') format('woff'),
       url('shabnam/Shabnam-Light-FD.ttf') format('truetype');
  font-weight: 300;
}
