<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>صعود چهل ساله </span>
        <span class="font-weight-light">(پنل مدیریت)</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <router-link to="/">
        <v-btn flat>
          <v-icon>mdi-file-document-box</v-icon>
          <span class="mr-2">مطالب</span>
        </v-btn>
      </router-link>
      <router-link to="charts">
        <v-btn flat>
          <v-icon>mdi-chart-bar</v-icon>
          <span class="mr-2">نمودارها</span>
        </v-btn>
      </router-link>
      <!-- <v-btn flat>
        <v-icon>mdi-play</v-icon>
        <span class="mr-2">تصاویر</span>
      </v-btn> -->
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>

<style>
  /** tiny mce hide license */
  .tox-notification,
  .tox-statusbar__branding {
    display: none !important;
  }
</style>
