<template>
    <div>
        <!-- <ck-editor ref="editor"></ck-editor> -->
        <v-textarea
            dir="ltr"
            box
            label="محتوا"
            auto-grow
            v-model="contentBody"
        ></v-textarea>
    </div>

</template>

<script>
export default {
    name: 'post-chart',
    props: ['content'],
    data: () => ({}),
    computed: {
        contentBody: {
            get() {
                return JSON.stringify(this.content.content, null, 2)
            },
            set(data) {
                this.content.content = JSON.parse(data)
            }
        }
    }
}
</script>

<style>

</style>
