<template>
    <div>
        <!-- <ck-editor ref="editor"></ck-editor> -->
        <v-textarea
            box
            label="محتوا"
            auto-grow
            v-model="content.content.text"
        ></v-textarea>
    </div>
</template>

<script>
// import ckeditor from '../CKEditor';

export default {
    name: 'post-text',
    props: ['content'],
    components: {
        // 'ck-editor': ckeditor
    },
    mounted() {
        // this.$refs['editor'].editor.setData(this.post.description)
        // if (this.post.color) {
        //     this.$refs['editor'].editor.setUiColor(this.post.color)
        // }
    }
}
</script>
