<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>صعود چهل‌ساله</title>
  </head>
  <body>
    <noscript>
      <strong>متأسفانه در صورت فعال نبودن جاوااسکریپت، صعود چهل‌ساله قابل اجرا نمی‌باشد. لطفاً جاوااسکریپت را فعال کنید.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
