<template>
  <div class="charts">
    <h1>This is an charts page</h1>
    <rise-chart :data="data" :options="options" type="Line"></rise-chart>
    <v-btn @click="openCSV">آپلود فایل csv</v-btn>
    <input type="file" accept="text/csv" class="d-none" ref="csv-file-input" @change="handleCSVFileChange">
  </div>


</template>

<script>
import VueChartist from 'v-chartist';

export default {
  components: {
    'rise-chart': VueChartist
  },
  data: () => ({
            data: {
                labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                series: [
                    [12, 9, 7, 8, 5],
                    [2, 1, 3.5, 7, 3],
                    [1, 3, 4, 5, 6]
                ]
            },
            options: {
                fullWidth: true,
                chartPadding: {
                    right: 40
                }
            }
  }),
  methods: {
    openCSV() {
      this.$refs['csv-file-input'].click()
    },
    handleCSVFileChange() {
      console.log('handling file change')
      /** @type {HTMLInputElement} */
      let input = this.$refs['csv-file-input']
      let file = input.files && input.files[0]
      if (!file) return

      let reader = new FileReader()
      reader.onload = () => {
        debugger

        this.data.series = reader.result.split(/\r?\n/).map(a => a.split(','))
        console.table(this.data.series)
        this.data.series.pop()
        this.data.labels = this.data.series.shift()
      }
      reader.onabort = reader.onerror = () => {
        alert('مشکلی در خواندن فایل csv پیش آمد')
      }
      reader.readAsText(file, 'utf-8')
}
    }
  }
</script>

<style>
  @import url('~chartist/dist/chartist.min.css');
</style>
