<template>
<div>

  <div class="add-page">
    <div class="appendix">
      <app-appendix class="ma-4 add-page__appendix"></app-appendix>
    </div>
    <div class="main ma-4">
      <div :style="{display: 'flex'}">
        <v-text-field
          label="عنوان"
          v-model="post.title"
          box
        ></v-text-field>

        <v-menu :close-on-content-click="false">
          <template v-slot:activator="{on}">
            <v-btn large icon v-on="on">
              <v-icon :color="post.color">mdi-format-color-fill</v-icon>
            </v-btn>
          </template>
          <color-picker dir="ltr" v-model="color"></color-picker>
        </v-menu>
      </div>

      <div class="mb-2 d-flex">
        <v-btn round
          color="green"
          class="add-page__add-block-button white--text"
          @click="addContent('text', 0)"
        >
          <v-icon right dark>mdi-plus</v-icon>
          متن
        </v-btn>
        <v-btn round color="green" class="add-page__add-block-button white--text">
          <v-icon right dark>mdi-plus</v-icon>
          نمودار
        </v-btn>
        <v-btn round color="green" class="add-page__add-block-button white--text">
          <v-icon right dark>mdi-plus</v-icon>
          تصویر
        </v-btn>
      </div>
      
      <div v-for="(content, i) in post.contents" :key="'post' + content.id">
        <app-content
          class="mb-3"
          :content="content">
        </app-content>
        <v-btn color="orange" @click="removeContent(i)">حذف بالایی</v-btn>
        <div class="add-page__adders">
          <v-speed-dial direction="left" absolute right bottom>
            <template v-slot:activator>
              <v-btn color="blue darken-2" dark fab>
                <v-icon>mdi-plus</v-icon>
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </template>
            <v-btn fab dark small color="green" @click="addContent('text', i+1)">
              <v-icon>mdi-file-document-box</v-icon>
            </v-btn>
            <v-btn fab dark small color="indigo" @click="addContent('chart', i+1)">
              <v-icon>mdi-chart-bar</v-icon>
            </v-btn>
            <v-btn fab dark small color="red">
              <v-icon>mdi-image</v-icon>
            </v-btn>
          </v-speed-dial>
        </div>
      </div>

      <div>
        <v-chip v-for="tag in tags" :key="tag.title" v-model="tag.isActive" close>
          {{ tag.title }}
        </v-chip>
        <v-layout row d-inline-flex align-center>
          <v-text-field class="d-inline-block mr-1" label="برچسب" @keypress.enter="addTag()" v-model="currentTagTitle"></v-text-field>
          <v-btn icon @click="addTag()"><v-icon>mdi-plus</v-icon></v-btn>
        </v-layout>
      </div>

      <v-btn :loading="isSaving" color="primary" @click="save()">
        <v-icon>mdi-content-save</v-icon>&nbsp;
        ذخیره
      </v-btn>
      <v-btn color="primary">
        <v-icon>mdi-publish</v-icon>&nbsp;
        انتشار
      </v-btn>
    </div>
    <app-preview class="ma-4"></app-preview>
  </div>

</div>
    
</template>

<script>
  import { mapState } from 'vuex';
  import ckeditor from '../components/CKEditor';
  import Preview from '../components/Preview';
  import Appendix from '../components/Appendix';
  import Content from '../components/Content';
  import { updatePost } from '../database';
  import { Photoshop } from 'vue-color';
  import { createObjectId } from '../utils'


  export default {
    components: {
      'app-editor': ckeditor,
      'app-preview': Preview,
      'app-appendix': Appendix,
      'app-content': Content,
      'color-picker': Photoshop,
    },
    data: () => ({
      color: {
        hex: '#000000'
      },
      subPost: null,
      post: {
        title: '',
        color: '',
        description: '',
        tags: [
          {
            title: 'سلامتی',
            isActive: true
          }
        ],
        contents: [
          {
            title: '',
            id: '5cfa18a3ffb3bc911588a921',
            description: 'محتوای دلبخواه',
          }
        ]
      },
      tags: [],
      currentTagTitle: '',
      isSaving: false,
    }),
    mounted() {
    },
    computed: {
    },
    methods: {
      addTag() {
        if (!this.currentTagTitle) return
        
        if (!this.post.tags) {
          this.post.tags = []
        }

        this.tags.push({
          title: this.currentTagTitle,
          isActive: true
        })
        this.currentTagTitle = ''
      },
      save() {
        this.isSaving = true
        updatePost(this.post)
        .then(() => {
          this.isSaving = false
          this.$store.commit('setBookPost', this.post)
        })
      },
      /**
       * @param { rise.ContentType } 
       */
      addContent(type, index) {
        var contentBody
        switch(type) {
          case 'text':
            contentBody = {
              text: 'محتوا...'
            }
            break
          case 'image':
            contentBody = {
              file: '',
              type: 'text/png',
              size: '',
              modifiedDate: null
            }
            break
          case 'chart':
            contentBody = {
              data: {},
              options: {},
            }
            break
          default:
            throw new Error('type not supported!')
        }
        this.post.contents.splice(index, 0, {
          text: '',
          page: 0,
          id: createObjectId(),
          title: '',
          type,
          tags: [],
          reference: '', // 'link' | 'title';
          content: contentBody,
        })
      },
      removeContent(index) {
        if (confirm('مطمئنی میخوای حذفش کنی؟')) {
          this.post.contents.splice(index, 1)
        }
      },
    },
    watch: {
      color(newColor, oldColor) {
        if (newColor && newColor.hex) {
          this.post.color = newColor.hex
        }
      },
      '$store.state.app.book.post'(post) {
        this.post = JSON.parse(JSON.stringify(post))
        if (!this.post.tags) this.post.tags = []
        this.tags = this.post.tags.map(tag => ({
          title: tag,
          isActive: true
        }))
      },
      tags: {
        handler() {
          this.post.tags = this.tags
            .filter(tag => tag.isActive)
            .map(tag => tag.title)
        },
        deep: true
      }
    }
  }
</script>

<style>
  .appendix .v-treeview-node__label {
    font-size: 1em;
  }

  .appendix .v-treeview-node__root {
    padding: 5px 10px;
    cursor: pointer;
  }

  .appendix .v-treeview-node__root:hover {
    background: #eaeaea;
  }

  .appendix .appendix__item--active {
    background: #eaeaea;
  }

  .add-page {
    display: flex;
  }

  .add-page .chart-viewer__chart {
    /* margin: 0 -1.5em; */
  }

  .add-page .v-speed-dial__list {
    flex-direction: row;
  }

  .add-page__appendix {
    width: 600px;
    flex: 0 0 auto;
  }

  .main {
    flex-grow: 1;
  }

  .add-page__add-block-button {
    max-width: 110px;
  }

  .add-page__adders {
    position: relative;
    padding: 2.5em;
    margin-bottom: 1em;
    z-index: 0;
    /* background-image: linear-gradient(to top, transparent, transparent 47%, #919191 50%, transparent 53%, transparent); */
  }

</style>
