@import './assets/fonts/fonts.css';

html, .html {
    font-family: Shabnam;
    min-height: 100%;
    background: #DBD8C7;
}

input, textarea, button {
    font: inherit;
}

body {
    margin: 0;
}

.icon {
    font-family: 'IkonoMiniL2-2';
    font-style: normal;
}
