<template>
    <div class="appendix">
        <header class="book__header">
            <a class="book__action icon"></a>
            <a class="book__action icon"></a>
            <a class="book__action icon"></a>
            <a class="book__action icon"></a>
        </header>
        <div class="appendix__main">
            <div class="appendix__section" v-for="item in appendix" :key="item.title">
                <h2 @click="toggleSection(item.title)" class="appendix__section-title" :style="{borderColor: item.color || 'black'}">
                    <svg :style="{transform: openSections.indexOf(item.title) >= 0 ? 'rotate(90deg)': ''}" class="appendix__expand-button" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 232.153 232.153" style="enable-background:new 0 0 232.153 232.153;" xml:space="preserve">
                        <g id="Play">
                            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M203.791,99.628L49.307,2.294c-4.567-2.719-10.238-2.266-14.521-2.266
                                c-17.132,0-17.056,13.227-17.056,16.578v198.94c0,2.833-0.075,16.579,17.056,16.579c4.283,0,9.955,0.451,14.521-2.267
                                l154.483-97.333c12.68-7.545,10.489-16.449,10.489-16.449S216.471,107.172,203.791,99.628z"/>
                        </g>
                    </svg>
                    {{item.title}}
                </h2>
                <ol v-if="openSections.indexOf(item.title) >= 0" class="appendix__part-list">
                    <li v-for="child in item.children" :key="child.title" class="appendix__part-item">{{child.title}}</li>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
    name: 'appendix',
    data: () => ({
        openSections: []
    }),
    methods: {
        toggleSection(title) {
            let index = this.openSections.indexOf(title)
            if (index >= 0) {
                this.openSections.splice(index, 1)
            } else {
                this.openSections.push(title)
            }
        }
    },
    computed: {
        ...mapState({
            appendix: state => state.app.appendix
        })
    }
}
</script>

<style>
.appendix__section-title {
    border-bottom: 2px solid currentColor;
    font-size: 1.2em;
    padding: .9em 1em .5em;
    margin: 0;
    cursor: pointer;
}

.appendix__part-item {
    line-height: 2.5;
    border-bottom: 1px solid #a59c9c;
    cursor: pointer;
    transition: .3s transform;
}

.appendix__part-item:hover {
    transform: translateX(-5px);
}

.appendix__part-list {
    margin: 0;
    list-style-type: persian;
}

.appendix__expand-button {
    width: 10px;
    transform: rotate(180deg);
    margin-left: .2em;
    transition: .3s transform;
}
</style>
