<template>
    <div class="book">
        <header class="book__header">
            <a class="book__action icon"></a>
            <a class="book__action icon"></a>
            <a class="book__action icon"></a>
            <a class="book__action icon"></a>
        </header>
        <article class="book__article">
            <template v-if="post && post.contents">
                <app-post
                    v-for="content in post.contents"
                    :key="content.id"
                    :post="content">
                </app-post>
            </template>
        </article>

    </div>
</template>

<script>
import ChartViewer from  '../components/ChartViewer'
import Post from  '../components/Post'
import {mapState, mapMutations} from 'vuex'

export default {
    name: 'book',
    components: {
        'chart-viewer': ChartViewer,
        'app-post': Post
    },
    methods: {
        ...mapMutations({
            setPost: 'setBookPost'
        })
    },
    computed: {
        ...mapState({
            post: state => state.app.book.post
        })
    },
    mounted() {
        // KNOEMA copy charts
        // ------------------
        // var firstColumns = [...document.querySelector('.knoema-table').querySelectorAll('td:first-child')]
        // var labels = firstColumns.map(el => (el.innerText.trim())).reverse()
        // var series = [firstColumns.map(el => el.nextElementSibling).map(el => (+el.innerText.trim())).reverse()]
        // var data = {labels, series}
        // console.log(data)

        this.setPost({
            contents: [
                {
                    text: '',
                    page: '',
                    title: '',
                    type: 'text',
                    tags: [],
                    reference: 'link',
                    id: 'sfsdfsdfsdfs',
                    type: 'text',
                    content: {
                        text: 'وابستگی به دولت‌های بیگانه و به ویژه آمریکا بود. این درحالی ‌است که یکی از اصول مهم قانون اساسی جمهوری اسلامی ایران؛ استقلال، حاکمیت و تمامیت ارضی کشور است. در بحث در ابعاد سیاسی، نظامی، فرهنگی، اقتصادی و فکری است. ایشان «سپردن کار به کاردانان وطن‌خواه امین»4 و خودکفایی و اختصاص مخازن و منابع کشور به مردم و نیز استقلال فکری مراکز آموزشی را برای تحقق استقلال برشمرده‌ و می‌فرمایند:همه‌چیزمان باید مستقل بشود. استقلال با وابستگی جمع نمی‌شود و مـا [اگر] فرهنگمان وابسته بشود، استقلال نداریم؛ اقتصادمان وابسته بـشـود، اسـتـقـلال نـداریـم. : '
                    }
                },
                {
                    id: 'dfgdfg',
                    type: 'chart',
                    content: {
                        data: {
                            "labels": ["2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"],
                            "series": [[33.3,32.4,33.5,34.1,34.2,34.9,35.2,35.7,35.4,36.2,36.1,36.2]]
                        },
                        description: 'ضریب جینی در اسپانیا'
                    }
                },
            ]
        })
    }
}
</script>

<style>
.book {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.book__header {
    display: flex;
    flex: 0 0 auto;
    padding: 1.5em 2em 0;
}

.book__action {
    flex: 1 1 25%;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    font-size: 19px;
    font-size: 1.1875em;
}

.book__action:hover {
    background: #eee;
}

.book__article {
    flex-grow: 1;
    padding: 0 37px;
    padding: 0 2em;
    font-size: 18px;
    font-size: 1.125em;
    overflow: auto;
}
</style>
