<template>
    <div>
        فهرست
        <ol>
            <transition-group name="list">
                <li v-for="(catalogItem, index) in catalog" :key="catalogItem.id">
                    <input type="text" v-model="catalogItem.title">
                    <button @click="remove(catalog, index)">x</button>
                    <div class="move-buttons">
                        <button :disabled="index == 0" @click="moveTop(catalog, index)">🔼</button>
                        <button :disabled="index == catalog.length-1" @click="moveBottom(catalog, index)">🔽</button>
                    </div>
                    <ol>
                        <transition-group name="list">
                            <li v-for="(subCatalogItem, index) in catalogItem.children" :key="subCatalogItem.id">
                                <input type="text" v-model="subCatalogItem.title">
                                <input type="color" v-model="subCatalogItem.color">
                                <button @click="remove(catalogItem.children, index)">x</button>
                                <div class="move-buttons">
                                    <button :disabled="index == 0" @click="moveTop(catalogItem.children, index)">🔼</button>
                                    <button :disabled="index == catalogItem.children.length-1" @click="moveBottom(catalogItem.children, index)">🔽</button>
                                </div>
                            </li>
                        </transition-group>
                        <li style="list-style: none">
                            <button @click="addSubCatalogItem(catalogItem)">افزودن سرفصل به {{catalogItem.title || '[بینام]'}}</button>
                        </li>
                    </ol>
                </li>
            </transition-group>
            <li style="list-style: none">
                <button @click="addCatalogItem()">افزودن سرفصل اصلی</button>
            </li>
        </ol>
    </div>
</template>


<script>
import { createObjectId } from '../utils'

export default {
    name: 'catalog-creator',
    data() {
        return {
            catalog: [
                {
                    id: '5cf867a9444cbda7c3e29d47',
                    title: '',
                    children: [
                        {
                            title: 'مقدّمه',
                            id: '5cf867a9739b2f153172cf6b'
                        }
                    ]
                },
                {
                    id: '5cf867a95649c489dfa3fc66',
                    title: 'فصل اوّل: استقلال',
                    children: [
                        {
                            title: 'از وابستگی دوران پهلوی تا استقلال ایران اسلامی',
                            id: '5cf867a901cc1f4b807bc9d6'
                        },
                        {
                            title: 'استقلال در کشورهای دنیا',
                            id: '5cf867a94f224eedf3898f08'
                        }
                    ]
                }
            ]
        }
    },
    methods: {
        addCatalogItem() {
            this.catalog.push({
                title: '',
                id: createObjectId(),
                children: []
            })
        },
        addSubCatalogItem(catalogItem) {
            catalogItem.children.push({
                title: '',
                id: createObjectId()
            })
        },
        remove(list, index) {
            if (confirm('ایا از حذف این مورد مطمئن هستید؟')) {
                list.splice(index, 1)
            }
        },
        moveTop(list, index) {
            if (index <= 0) {
                return
            }
            let value = list[index]
            list.splice(index, 1, list[index-1])
            list.splice(index-1, 1, value)
        },
        moveBottom(list, index) {
            if (index >= list.length-1) {
                return
            }
            let value = list[index]
            list.splice(index, 1, list[index+1])
            list.splice(index+1, 1, value)
        }
    }
}
</script>

<style scoped>
    li {
        margin: .5em;
    }
    .move-buttons {
        margin-right: .2em;
        display: inline-flex;
        /* flex-direction: column; */
        /* height: 20px; */
    }
    .list-move {
       transition: transform 1s;
    }
</style>
