<template>
  <div class="home">
    <img
      alt="Vue logo"
      src="../assets/logo.png"
    >
    <ul>
      <li><router-link to="/book">کتاب</router-link></li>
      <li><router-link to="/search">جستجو</router-link></li>
      <li><router-link to="/appendix">فهرست</router-link></li>
    </ul>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
  }
}
</script>
