<template>
    <div class="search">
        <router-link to="/">
            <button class="search__close-button icon"></button>
        </router-link>
        <div class="search__input-wrapper">
            <i class="icon"></i>
            <input placeholder="جستجو" class="search__input" type="text">
        </div>
    </div>
</template>

<script>
export default {

}
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
</script>

<style>
    .search {
        position: relative;
        padding: 1px;
    }

    .search__close-button {
        position: absolute;
        left: 40px;
        top: 40px;
        border: 0;
        background: none;
        outline: none;
        cursor: pointer;
    }

    .search__input-wrapper {
        border-bottom: 1px solid #6f6f6f;
        width: 62%;
        margin: auto;
        margin-top: 106px;
        display: flex;
        align-items: center;
    }

    .search__input {
        margin-right: .5em;
        padding: .6em .3em;
        background: transparent;
        border: 0;
        outline: none;
        flex-grow: 1;
    }

</style>
